{% extends '::base.html.twig' %}

{% set page_title = isProfile ? "Update Profile" : "Edit User" %}

{% block body %}
	{% if not isProfile %}
        <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_user') }}">
            &laquo; Return to View All Users
        </a>
	    <h1>User Management - Edit User</h1>
	    <h4>You are updating user: {{ entity.email }}</h4>
	    <hr>
    {% else %}
    	<h1>Update Profile</h1>
    	<br>
    {% endif %}
    {{ form(edit_form) }}
    {% if isProfile %}
    	<br>
    	<a class="btn btn-primary btn-xs" href="{{ path('profile') }}">&laquo; Cancel</a>
    {% endif %}
	{% if is_granted('ROLE_ADMIN') and not isProfile %}
		<hr>
	    {{ form(delete_form) }}
	{% endif %}
{% endblock %}
{% if isProfile %}
	{% block jQuery %}
		{{ parent() }}
		activePage("profile");
	{% endblock %}
{% endif %}