{% extends '::base.html.twig' %}

{% set page_title = "View User Details" %}

{% block body -%}
    {% if not isProfile %}
        <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_user') }}">
            &laquo; Return to View All Users
        </a>
        <h1>User Management - View User Details</h1>
        <h4>Viewing user details for: {% if entity.firstName is defined and entity.firstName != "" %}{{ entity.firstName ~ " " ~ entity.lastName }}{% else %}{{ entity.email }}{% endif %}</h4>
    {% else %}
        <h1>My Profile</h1>
    {% endif %}
    <br>
    <table class="record_properties table table-striped user-profile">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Skype Account</th>
                <td>{{ entity.skypeAccount }}</td>
            </tr>
            <tr>
                <th>Cell Number</th>
                <td>{{ entity.cellNumber }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-primary pull-right" href="{% if isProfile %}{{ path('edit_profile') }}{% else %}{{ path('admin_user_edit', { 'id': entity.id }) }}{% endif %}">
            Edit {% if isProfile %}My Profile{% else %}User Details{% endif %}
        </a>

{% if is_granted('ROLE_ADMIN') and not isProfile %}
    <br><br>
    <hr>
    {{ form(delete_form) }}
{% endif %}
{% endblock %}
